#projects_area {
  background: $whiteColor;
  .child_project {
    margin: 0;
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .project_info {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: -9999px;
      z-index: 99;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.3s;
      h3 {
        position: relative;
        z-index: 999;
        color: $whiteColor;
      }
      p {
        position: relative;
        z-index: 999;
      }
      &::after {
        background: $bkColor;
        width: 0%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.5;
        transition: 0.3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
    &:hover .project_info {
      left: 0;
    }
  }
  .project_x {
    grid-column: auto / span 2;
  }
  .project_y {
    grid-row: auto / span 2;
  }
  .project_xy {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}
