#about_area {
  .about_numbers {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .child_about {
      flex-basis: 48%;
      text-align: center;
      background: $bgColor;
      padding: 40px;
      border-radius: 10px;
      margin-bottom: 25px;
      h4 {
        color: $bkColor;
        margin: 0;
        font: {
          size: 45px;
          weight: $fontWXL;
        }
      }
      h6 {
        color: $bkColor;
        font: {
          size: 16px;
          weight: $fontWMD;
        }
        line-height: 1em;
        margin: 0;
      }
    }
  }
  .about_info {
    flex-basis: 46%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h3 {
      color: $bkColor;
      line-height: 1em;
      font: {
        size: 35px;
        weight: $fontWXL;
      }
      text-transform: uppercase;
    }
    h6 {
      color: $bkColor;
      line-height: 1em;
      margin-bottom: 5px;
      font: {
        size: 20px;
        weight: $fontWXL;
      }
      text-transform: uppercase;
    }
  }
}
