#header_area {
  // Top Header Area Style
  .top_header_area {
    background: $pColor;
    padding: $paddingSM;
    position: relative;
    .mobile_bars {
      display: none;
    }
    p {
      font: {
        size: 14px;
        weight: $fontWMD;
      }
      color: $whiteColor;
      margin: 8px 0 0;
      i {
        display: inline-block;
        margin-right: 8px;
      }
    }
  }

  // Main Header Area Style
  .main_header {
    background: $whiteColor;
    padding: 25px 0;
    .logo_area {
      flex-basis: 30%;
    }
    .main_menu {
      flex-basis: 70%;
      margin-top: 10px;
      ul {
        text-align: right;
        display: flex;
        justify-content: end;
        li {
          margin-left: 25px;
          a {
            color: $bkColor;
            font: {
              size: 16px;
              weight: $fontWMD;
            }
            &:hover {
              color: $pColor;
            }
          }
        }
      }
    }
    @media only screen and (min-width: $small) and (max-width: $medium) {
      .main_menu{
        background: $pColor;
        position: absolute;
        width: 96%;
        left: -99999px;
        ul{
          flex-direction: column;
          text-align: left;
          li{
            margin-left: 0;
            margin-bottom: 5px;
            &:last-child{
              margin-bottom: 0;
            }
            a{
              color: $whiteColor;
              display: block;
              padding: 10px 15px;
              &:hover{
                background: $bkColor;
                color: $whiteColor;
              }
            }
          }
        }
        &.open{
          left: 10px;
        }
      }
    }
  }
}
