// Utilities
@import "utilities";

// Header Area Style
@import "header";

// Hero Area Style
@import "hero";

// About Area Style
@import "about";

// Service Area Style
@import "service";

// Project Area Style
@import "projects";

// Blog Area Style
@import "blog";

// Contact Area Style
@import "contact";

// Footer Area Style
@import "footer";

// Responsive Area Style
@import "responsive";
